<div class="row pt-5 text-right">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" [routerLink]="['/todo-detail']">Add Todo</button>
  </div>
</div>
<div class="row pt-2">
  <div class="col-md-12">
    <table class="table table-striped  table-bordered table-hover">
      <thead class="table-primary">
        <th class="text-center">#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th class="text-center">Action</th>
      </thead>
      <ng-container *ngIf="todos?.length else emptyStatement">
        <tbody>
          <tr *ngFor="let todo of todos">
            <td class="text-center">{{todo.id}}</td>
            <td>{{todo.firstName}}</td>
            <td>{{todo.lastName}}</td>
            <td>{{todo.email}}</td>
            <td class="text-center">
              <button type="button" (click)="onEdit(todo)" class="btn btn-primary sm mr-2">Edit</button>
              <button type="button" class="btn btn-danger sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
    <ng-template #emptyStatement>
      <div class="alert alert-info mt-3 text-center" role="alert">
        there is no Active todo .Please Add it.
      </div>
    </ng-template>
  </div>
</div>